#cardl, #cardr{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #9d98982b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    padding: 50px;
    position: relative;
}